################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinearProgramming/bin/Debug/netcoreapp3.1
/LinearProgramming/obj
/LinearProgramming.Tests/bin/Debug/netcoreapp3.1
/LinearProgramming.Tests/obj
/SimplexMarket.Console/bin/Debug/netcoreapp3.1
/SimplexMarket.Console/obj
/LinearProgramming/bin/Debug/net5.0
/LinearProgramming.Tests/bin/Debug/net5.0
/MarketTestScenarioGenerator/bin/Debug/net5.0
/MarketTestScenarioGenerator/obj
/MarketTestScenarioGenerator.Tests/bin/Debug/net5.0
/MarketTestScenarioGenerator.Tests/obj/Debug/net5.0
/MarketTestScenarioGenerator.Tests/obj
/StandardFormLinearProgramParsing/bin/Debug/net5.0
/StandardFormLinearProgramParsing/obj/Debug/net5.0
/StandardFormLinearProgramParsing/obj
